@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bungee+Spice&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
* {
    box-sizing: border-box;
}

.wrap {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: auto;
    position: relative;
    width: 100%;
    max-width: 1054px;

   
}

html,
 body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
   background-image: url(/testeee/src/colecao-de-rabiscos-de-hadrawn-sobre-ideias-pensamento-e-conhecimento_125540-1899.avif);
 }

 body {
    background-attachment: fixed;

    background-image: url('/testeee/src/colecao-de-rabiscos-de-hadrawn-sobre-ideias-pensamento-e-conhecimento_125540-1899.avif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.card {
    padding-bottom: 150px;
    background-color: #fff;
    padding: 20px;
    border: 2px solid black;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 500px;
    height: 400px;
    text-align: center;
}
h1{
    font-family: "Anton", sans-serif;
}
h1 u{
    font-family: "Anton", sans-serif;
    color: orangered;
    text-decoration: none;
}
h2 {
    
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-family: "Playfair Display", serif;
    margin-bottom: 5px;
    font-size: 20px;
}

input {
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #507af8;
    border-bottom: 3px solid #507af8;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
