@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bungee+Spice&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
* {
    box-sizing: border-box;
}

body, html {
    height: 100%;
  
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
   background-image: url(/testeee/src/colecao-de-rabiscos-de-hadrawn-sobre-ideias-pensamento-e-conhecimento_125540-1899.avif);
}

.container {
    width: 300px;
}

.login-form {
    background-image: url(/testeee/src/colecao-de-rabiscos-de-hadrawn-sobre-ideias-pensamento-e-conhecimento_125540-1899.avif);
    width: 100%;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}
.pesq li a {
    display: none;
}
/* Mídia para dispositivos menores */
@media (max-width: 480px) {
    .container {
        width: 90%;
    }
}