@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bungee+Spice&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
* {
    box-sizing: border-box;
}



article {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
   background-image: url(/testeee/src/colecao-de-rabiscos-de-hadrawn-sobre-ideias-pensamento-e-conhecimento_125540-1899.avif);
 }

 