.lupa {
    text-align: center;
    margin-bottom: 15px;
    border: 1px solid #afafaf;
}

#search-input,
button {
    display: inline-block;
    border: none;
    outline: 0;
    padding: 10px;
    font-size: 16px; /* Adicionando para harmonizar com o estilo do botão */
}

.lupa button i {
    display: none;
}

#search-input{
    width: 86%;
}

.lupa button {
    cursor: pointer;
    width: 13%; /* Ajustado para se alinhar melhor com o input */
    background-color: #007BFF; /* Cor do botão */
    color: #fff; /* Cor do texto do botão */
    border-radius: 0 4px 4px 0; /* Bordas arredondadas para a direita */
}

#search-input:hover,
.lupa:hover {
    box-shadow: 0 0 10px rgba(73, 175, 208, 0.7);
}
.no-results {
    display: none;
    text-align: center;
    margin-top: 20px;
    font-size: 24px;
    color: red;
}


@media screen and (max-width: 768px) {
 
    .wrap {
        padding: 0 10px;
    }

    .lupa button span {
        display: none;
    }

    .lupa button i {
        display: block;
    }

    .recado {
        font-size: 14px;
    }

}

@media screen and (max-width: 440px) {
    button {
        padding: 0;
        padding-top: 10px;
        padding-bottom: 10px;
        border-radius: 0;
        border: none;
        margin: 0;
    }
    #search-input{
        width: 83%;
    }
    .lupa {
        border-radius: 5px;

    }

    .lupa button span {
        display: none;
    }

    .lupa button i {
        display: block;
    }

    #search-input {
        border-radius: 0;
        border: none;
    
    }
}